<!DOCTYPE html>
<html>
<head>
	<title>Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="event.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	  <div class="topnav">
    		<a class="active" href="home.html">HOME</a>
  	   	<a href="event.html">EVENT</a>
  		  <a href="about.html">ABOUT</a>
  		  <a href="contact.html">CONTACT</a>
	  </div>
    <div class="grid">
   <div class="one"><p>Jan 11th, 2020</p></div>
   <div class="first">
      <div class="container">
        <div class="accordion-wrapper" >
          <div class="accord-item">
            <p>Cloud and Robotics:Microsoft Azure</p>
            <div class="child">
              <p class="contentBox1">Certification</p></div>
              <div class="child">
              <p class="contentBox1">Fees</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="two">Jan 11th, 2020</div>
    <div class="second">
     <div class="container">
        <div class="accordion-wrapper" >
          <div class="accord-item">
            <p>Cloud and Robotics:Microsoft Azure</p>
            <div class="child">
              <p class="contentBox1">Certification</p></div>
              <div class="child">
              <p class="contentBox1">Fees</p>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="three">Jan 11th, 2020</div>
    <div class="third">
       <div class="container">
        <div class="accordion-wrapper" >
          <div class="accord-item">
            <p>Cloud and Robotics:Microsoft Azure</p>
            <div class="child">
              <p class="contentBox1">Certification</p> </div>
              <div class="child">
              <p class="contentBox1">Fees</p>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="four">Jan 11th, 2020</div>
    <div class="fourth">
        <div class="container">
        <div class="accordion-wrapper" >
          <div class="accord-item">
            <p>Cloud and Robotics:Microsoft Azure</p>
            <div class="child">
              <p class="contentBox1">Certification</p></div>
              <div class="child">
              <p class="contentBox1">Fees</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
