<!DOCTYPE html>
<html>
<head>
	<title>RAS Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="sty.css">
</head>
<body>
	<div class="grid">
		<div class="topnav">
  			<a class="active" href="home.html">HOME</a>
  			<a href="event.html">EVENT</a>
  			<a href="about.html">ABOUT</a>
  			<a href="contact.html">CONTACT</a>
		</div>
		<div class="container">
			<p>We at RAS are hell-bent to provide the best of robotics.Our vision is not limited to robotics alone but covers a vast spectrum of domains such as AI, Cloud, Hardware. Explore our website to know more...</p>
		</div>
		<div class="logo">
			<img src="logo.png">
		</div>
	</div>
</body>
</html>